

<mat-menu #menu="matMenu">

  <a mat-menu-item href="/home">
    <mat-icon>home</mat-icon>
    HOME
  </a>

  <a mat-menu-item href="/categorias">
    <mat-icon>face</mat-icon>
   PLANES DE AHORRO
  </a>
  <a mat-menu-item href="/nosotros">
    <mat-icon>contact_phone</mat-icon>
    CONTACTANOS
  </a>
</mat-menu>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <button [matMenuTriggerFor]="menu" mat-icon-button class="ac-buttom-menu"  aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categorias">PLANES DE AHORRO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nosotros">CONTACTANOS</a>
      </li>
    </ul>
  </div>
</nav>
