<footer>
    <div class="content">
      <div class="left box">
        <div class="upper">
          <div class="topic">PROYECTO ITI</div>
          <p>Conocimiento del funcionamiento de Angular</p>
        </div>
        <div class="lower">
          <div class="topic">NOSOTROS</div>
          <div class="phone">
            <a href="#"><i class="fas fa-phone-volume"></i>+593 99564126</a>
          </div>
          <div class="email">
            <a href="#"><i class="fas fa-envelope"></i>alexge200@hotmail.com</a>
          </div>
        </div>
      </div>
      <div class="right box">
        <div class="topic">CONACTANOS</div>
        <form action="#">
          <input type="text" placeholder="Ingrese un correo">
          <input type="submit" name="" value="ENVIAR">

        </form>
      </div>
    </div>
    <div class="bottom">
      <p>Alex Capa © 2022 <a href="#">A.C</a> Derechos reservados</p>
    </div>
  </footer>